.Title-bar {
    width : 1250px;
    margin: 0px auto;  
    position: fixed;
    background-color: rgb(39, 117, 39);
    margin-top: -10px;
    z-index: 1;
}
table{
    width:100%;
}
table tr td{
    border: 1px solid black;
    width:20%;
}
table tr td:nth-child(3){
    text-align: right;
    font-size: 25px;
}
table tr td:nth-child(2){
    text-align: center;
    font-size: 25px;
    width : 60%;
}
#logo{
    width:70px;
    height:70px;
}

.centralcontent
{
    border: 7px solid blue;   
    height: 700px;
    margin-left: 300px;
    width: 900px;
}
.author{
    border: 1px solid red;
    height: 700px;
    float:left;
    width:240px;
    margin-left: 0px;
    background-image: url(../IMG/background-bark.png);
    border-radius: 20px;
}
.centralbody{
    border: 5px solid yellow;
    padding-top: 100px;
    background-color: whitesmoke;
    
}
.quad1{
    border: 2px solid black;
    height : 275px;
    width: 275px;
    float:left;
    margin-left: 150px;
    background-color: rgb(28, 134, 13);
    border-top-left-radius: 100%;
}
.quad1beforehover h2{
    margin-left: 75px;
    margin-top: 50%;
}
.quad2beforehover h2{
    margin-left: 75px;
    margin-top: 50%;
}
.quad3beforehover h2{
    margin-left: 75px;
    margin-top: 40%;
}
.quad4beforehover h2{
    margin-left: 50px;
    margin-top: 40%;
}
.quad1afterhover{
    visibility: hidden;
}
.quad2afterhover{
    visibility: hidden;
}
.quad3afterhover{
    visibility: hidden;
}
.quad4afterhover{
    visibility: hidden;
}
.quad1:hover{
    border: 2px solid black;
    height : 275px;
    width: 275px;
    float:left;
    margin-left: 150px;
    background-color: rgb(27, 110, 16);
    border-bottom-right-radius: 100%;
    border-top-left-radius: 0%;       
}
.quad1:hover .quad1afterhover{
    visibility: visible;
    margin-top: -50%;
}
.quad2:hover .quad2afterhover{
    visibility: visible;
    margin-top: -50%;
    margin-left: 50%;
}
.quad3:hover .quad3afterhover{
    visibility: visible;

}
.quad4:hover .quad4afterhover{
    visibility: visible;
    margin-left: 50%;
}
.quad1:hover .quad1beforehover{
    visibility: hidden;
}
.quad2:hover .quad2beforehover{
    visibility: hidden;
}
.quad3:hover .quad3beforehover{
    visibility: hidden;
}
.quad4:hover .quad4beforehover{
    visibility: hidden;
}
.quad2{
    border: 2px solid black;
    height : 275px;
    width: 275px;
    margin-left: 450px;
    background-color: rgb(155, 99, 14);
    border-top-right-radius: 100%;  
}
.quad2:hover{
    border: 2px solid black;
    height : 275px;
    width: 275px;
    margin-left: 450px;
    background-color:  rgb(131, 84, 13);
    border-bottom-left-radius: 100%;
    border-top-right-radius: 0%;
}
.quad3{
  
    border: 2px solid black;
    height : 275px;
    width: 275px;
    float:left;
    margin-top: 20px;
    margin-left: 150px;
    background-color: rgb(25, 14, 189);
    border-bottom-left-radius: 100%;
}
.quad3:hover{
  
    border: 2px solid black;
    height : 275px;
    width: 275px;
    float:left;

    margin-top: 20px;
    margin-left: 150px;
    background-color:  rgb(13, 3, 153);
    border-top-right-radius: 100%;
    border-bottom-left-radius: 0%;
}
.quad4{
    border: 2px solid black;
    height : 275px;
    width: 275px;
    margin-top: 20px;
    margin-left: 450px;
    background-color: chocolate;
    border-bottom-right-radius: 100%;
    
}
.quad4:hover{
    border: 2px solid black;
    height : 275px;
    width: 275px;
    margin-top: 20px;
    margin-left: 450px;
    background-color: chocolate;
    border-bottom-right-radius: 0%;
    border-top-left-radius: 100%;
}
.graph{
    border: 5px solid gray;
}

.CentralQuad{
    border: 3px solid black;
    margin-top: -425px;
    position: relative;
    height: 250px;
    width: 250px;
    margin-left: 310px;
    background-color: white;
    border-radius: 100%;
    
}
.part2{
    border: 2px solid red;
    margin-top: 10px;
}
.part2Header{
    border: 3px solid black;
    margin-left: 50px;
    width:1150px;
    height: 75px;
}
.subpart1{
    border: 2px solid blue;
    margin-top: 10px;
    width: 550px;
    float: left;
    margin-left: 50px;
    height: 300px;
}
.subpart2{
    border: 2px solid green;
    margin-top: 10px;
    width: 550px;
    margin-left: 650px;
    height: 300px;
}
.footer{
    border: 3px solid black;
    height:300px;
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.747)
}
.author img{
    border-radius : 10%;
    margin-top: 75px;
    height: 200px;
    width: 200px;
    margin-left: 20px;
}
.author h2, .author p {
    margin-left: 20px;
    text-align: center;
    color: white;
}
.content1{
    border: 1px solid black;
    width:1150px;
    margin-left: 55px;
} 